*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #da9756;
    --secondary: #808080;
    --home-video-height: 70vh;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* Navbar Styles Start */
.navbar-bg-primary {
    background-color: var(--primary);
    padding: 15px 30px;
}

.nav--link {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 10px;
}
/* Navbar Styles Ends */

/* Home Video Section Style Starts */
.home-bg-video {
    width: 100%;
    height: var(--home-video-height);
    object-fit: none;
    object-position: center;
}

.home-bg-video-container {
    position: relative;
}

.home-bg-video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--home-video-height);
    background: rgba(0, 0, 0, 0.75);
}

.home-bg-video-heading {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.home-bg-video-heading h1 {
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 50px;
    padding: 0 25px;
    text-align: center;
}
/* Home Video Section Style Ends */

/* Home About Section Style Starts */
.home-about-section {
    padding: 50px 0;
}
.home-about--text {
    padding-left: 10%;
    font-size: 20px;
}
/* Home About Section Style Ends */

/* Home Other Pages Section Style Ends */
.home-other-pages {
    height: 100vh;
}
/* Home Other Pages Section Style Ends */
